// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quote {
	width: 70%;
	margin: 20px auto;

	.list-quote {
		font-style: italic;
	}

	.list-name {
		font-weight: bold;
	}
}